# Virtual environment directories
venv/
for_github/
env/
.venv/
venv2/
env.bak/
.env

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

unused/test.py
API_integration/GENERAL_KEYS.py
Getting_started_Llama/


credentials.py
test_streamlit/
unused/test_agentic_retriever.py
unused/
documentation_2/
